<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>wdCP云主机管理系统</title>
<link rel="stylesheet" href="/static/layui/css/layui.css?ver={{.version}}">
<link rel="stylesheet" href="/static/layui/css/reset.css?ver={{.version}}" media="all">
<link rel="stylesheet" href="/static/layui/font/iconfont.css?ver={{.version}}" media="all">
<link rel="stylesheet" href="/static/layui/font/impact.css?ver={{.version}}" media="all">
<script type="text/javascript" src="/static/layui/layui.js?ver={{.version}}"></script>
<script src="/static/layui/js/jquery-2.1.4.min.js?ver={{.version}}"></script>
<script src="/static/layui/js/function.js?ver={{.version}}"></script>
</head>
<body>
	{{.LayoutContent}}
</body>
</html>
